@(genres: List[String], years: List[String])

@main("Top 50 movies and TV shows") {
<div id="allData">
    <h1 class="text-center">Find the top 50 movies from a specific period!</h1>
    <h2 class="text-center">Select your medium, genre and time period!</h2><br>
    <!--    q=until%3A2008-11-16%20since%3A2009-09-19-->
    <div class="container card h-100" id="content">
        <form action="top50">
            <div class="row">
                <div class="col-6">Movies or TV shows: </div>
                <div class="col-6">
                    <select class="form-control form-control-lg" name="med">
                        <option value="Movies">Movies</option>
                        <option value="TV Shows">TV Shows</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">Genre:</div>
                <div class="col-6">
                    <select class="form-control form-control-lg" name="gen">
                        @for(genre <- genres) {
                        <option value="@genre">@genre</option>
                        }

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">Year:</div>
                <div class="col-1">From</div>
                <div class="col-2">
                    <select class="form-control form-control-lg" name="fy">
                        @for(year <- years) {
                        <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="col-1">To</div>
                <div class="col-2">
                    <select class="form-control form-control-lg" name="ty">
                        @for(year <- years) {
                        <option value="@year">@year</option>
                        }
                    </select>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </form>
    </div>

    <div class="form-group">


    </div>

    </form>
    </div>
</div>
}